.contenedor-head {
    display: flex;
    justify-content: space-between;
    background-color: #222222;
    color: white;
    height: 30px;
    align-items: center;
}

.contenedor-head-izq {
    text-align: left;
    margin-left: 120px;
}

.contenedor-head-der {
    text-align: right;
    margin-right: 120px;
}

.contenedor-logo-categorias {
    display: flex;
    justify-content: space-around;
    background-color: rgb(240, 168, 62);
    align-items: center;
    height: 100px;
}






.plato-png{
    background-image: url("../img/plato.png");
    background-color: #cccccc;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    background-repeat: no-repeat;

}










.suscribete {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: rgb(240, 168, 62);
}

.contact {
    display: flex;
    background-color: rgb(60, 35, 19);
    justify-content: space-between;
}

.contacto-izq- {
    display: flex;
    align-items: center;
    color: white;
    margin-left: 30px;
}


.contacto-der {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 30px;
}







.derechosReservados{
    display: flex;
    background-color: rgb(34, 34, 34);
    justify-content: center;
    align-items: center;
    color: white;
    height: 30px;
}

.productosDestacados-objetos {
    display: flex;
    justify-content: space-around;
    
}

.productosDestacados-objetos>span{
    background-color: rgb(251, 249, 245);
}

.productosDestacados-pataYtitulo{
    font-size: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productosDestacados-subtitulo{
    display: flex;
    justify-content: space-evenly;
    padding-left: 30%;
    padding-right: 30%;
}