*{
    font-family: Roboto;
    margin: 0px;
    padding: 0px;
}


.menu-desplegable-media{
    display: none;
}




.contenedor-head {
    display: flex;
    justify-content: space-around;
    background-color: #222222;
    color: white;
    height: 30px;
    align-items: center;
    
}

body>header>section>nav>span>select{
    background-color: transparent;
    color: white;
    border-color: transparent;
}




.contenedor-logo-categorias {
    display: flex;
    justify-content: space-around;
    background-color: rgb(240, 168, 62);
    align-items: center;
    height: 100px;
    font-size: 13px;
    line-height: 15px;
    
}

.contenedor-categorias-links{
    display: flex;
    width: 343px;
    justify-content: space-evenly;
    
}
.contenedor-categorias-links2{
    display: flex;
    align-items: center;
}





.plato-png{
    background-image: url("../img/plato.png");
    background-color: #cccccc;
    display: flex;
    background-repeat: no-repeat;
    height: 409px;
    flex-wrap: wrap;
    justify-content:flex-end;
    align-content: center;
    
}

.plato-png-cosas{
    display: flex;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 400px;
    justify-content: center;
    align-items: center;
}

.plato-png-textogrande{
    position: relative;
    margin: 10px;
    display: flex;
    border-radius: 5px;
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #3C2313;
    height: 54px;
    align-content: center;
    flex-wrap: wrap;
}

.plato-png-boton{
    display: flex;
    position: relative;
    top:10px;
    padding: 10px;
    width: 141px;
    height: 49px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background: #F0A83E;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
}









.productosDestacados-pataYtitulo{
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.productosDestacados-subtitulo{
    display: flex;
    justify-content: space-evenly;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 30px;
    position: relative;
}

.productosDestacados-objetos {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin: 0px 25% 0px 25%;
}

.productosDestacados-objetos>span{
    background-color: rgb(251, 249, 245);
    text-align: center;
}

.productosDestacados-objetos>span>p{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}

.productosDestacados-objetos-precio{
    color: #F0A83E;
}




.contactanos{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    padding: 40px;

}

.contactanos-titulo{
    display: flex;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    width: 340px;
    height: 40px;
    flex-wrap: wrap;
    justify-content: center;

}

.contactanos>span>span{
    position: relative;
    background: #3C2313;
    border-radius: 15px;
    width: 340px;
    height: 40px;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}


.contactanos>span>span>p{
    position: relative;
    width: 340px;
    height: 40px;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    left: 20px;
}

.contactanos-botones{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    position: relative;
    padding: 20px;
    

}
.contactanos-botones>button{
    width: 110px;
    height: 34px;
    border-radius: 15px;
}
.contactanos-botones-button1{
    background: #8A8787;
}

.contactanos-botones-button2{
    background: #F0A83E;
}

.suscribete-sec{
    display: flex;
    background-color: rgb(240, 168, 62);
}
.suscribete{
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.suscribete-izq {
    display: flex;
    align-items: center;
    height: 50px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.suscribete-izq-icono{
    display: flex;
    padding: 15px;
}

.suscribete-izq-icono-texto{
    display: flex;
}

.suscribete-der{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;

}

.suscribete-der-texto{
    display: flex;
    width: 271px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 15px;
    font-size: 9px;
    line-height: 11px;
    color: #A0A0A0;
    flex-wrap: wrap;
    align-content: center;
    right: 10px;
}
.suscribete-der-texto>p{
    left:10px;
    position: relative;
}

.suscribete-der-boton{
    display: flex;
    width: 70px;
    height: 34px;
    background: #3C2313;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 9px;
    line-height: 11px;
    font-weight: 700;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}





.contact {
    display: flex;
    background-color: rgb(60, 35, 19);
    justify-content: space-between;
    padding: 10px;
}

.contacto-izq- {
    display: flex;
    align-items: flex-start;
    color: white;
    margin-left: 30px;
}
.contacto-izq->*{
    padding: 10px;
    position: relative;
}

.contacto-der {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 30px;
}


.textobig{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.textosmall{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #8A8787;
}











.derechosReservados{
    display: flex;
    background-color: rgb(34, 34, 34);
    justify-content: center;
    align-items: center;
    color: white;
    height: 30px;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
}

.contacto-der-media{
    display: none;
}

@media (max-width: 700px) {
    .contenedor-categorias-links, .contenedor-categorias-links2{
        display: none;
    }
    .menu-desplegable-media{
        display: flex;
        background-color: transparent;
        color: black;
        border-color: transparent;
        flood-color: #222222;
    }
    .plato-png-cosas{
        align-items: flex-end;
    }
    .productosDestacados-subtitulo {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 30px;
        position: relative;
        justify-content: space-evenly;
    }
    .productosDestacados-objetos {
        align-content: center;
        margin: 0px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .productosDestacados-objetos-media{
        margin-bottom: 30px;
    }
    .suscribete-sec {
        display: flex;
        height: 100px;
        flex-wrap: wrap;
        align-content: center;
    }
    .suscribete{
        display: flex;
        justify-content: center;
        height: 60px;
        align-content: center;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 20px;
    }
    .contacto-der{
        display: none;
    }
    .contacto-der-media{
        display: flex;
        justify-content: center;
    }
    .contact{
        justify-content: center;
    }
    .contactanos-botones>button{
        width: 50%;
        height: 34px;
        border-radius: 15px;
    }

}


.asdf{
    color: black;
}